.fa-pencil-ruler
  padding: .5em
.fa-chart-bar
  padding: .5em
.fa-search-dollar
  padding: .4em


.sales-points
  padding: 10vh 0 0

  .sales-point
    margin-bottom: .5em

    &:first-of-type
      margin-top: 1.5em

    &:last-child
      margin-bottom: 0

    @media(min-width: 725px)
      &:first-of-type
        margin-top: 0
        a
          text-decoration: none
